<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="gazugafan.RestStop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="gazugafan.RestStop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<gazugafan.RestStop.Properties.Settings>
   <setting name="MouseFuzz" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="SecondsBeforeRested" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="WorkInterval" serializeAs="String">
    <value>3600</value>
   </setting>
   <setting name="SoundPath" serializeAs="String">
    <value>{0}Standing Bell.wav</value>
   </setting>
   <setting name="ReminderInterval" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="ShowToast" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ReminderToast" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ReminderBlinkTrayIcon" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ReminderSound" serializeAs="String">
    <value>{0}Bell Tones.wav</value>
   </setting>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
  </gazugafan.RestStop.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<gazugafan.RestStop.Properties.Settings>
   <setting name="IdleCheckInterval" serializeAs="String">
    <value>5000</value>
   </setting>
  </gazugafan.RestStop.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
</configuration>
